doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title The HTML5 Herald
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
  body
  
    h1 Layout
        
    block content
        
    #votacion
    
    script(src='js/vota.js')
